<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather_icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
         {{>header}}
         {{>title}}
        <img class="portrait" src="/image/sandy.jpg" alt="Avatar" > 
        <h4>Santhosh <br>Associate Software Engineer <br>Hexaware Technologies</h4>
        </div>
         {{>footer}}
    </body>
</html>