<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather_icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{>title}}
        <h4>
            This is a sample webpage to fetch weather forecast data from Weather API.
<br><br>        Location is entered by the user will be connverted into geocode and then 
            it will fetch that details.<br> <br>
            Whole website is designed using NodeJs and WebAPI. <br>
        </h4>
        </div>
        
        {{>footer}}
    </body>
</html>