<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="icon" href="/image/weather_icon.png">
       <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{>title}}
        <h4>We provide weather forecast based on location. <br><br>Enter location below:</h4>
        <form>
            <input placeholder="Location" type="text">
            <button>Search</button>
        </form>
        <h5 id="message-1"></h5>
        <h5 id="message-2"></h5>
        <h5 id="message-3"></h5>
        <h5 id="message-4"></h5>
        <h5 id="message-5"></h5>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>