<html>
    <head>
        <title>Words</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{>title}}
        <form>
            <input type="text">
            <button>Search</button>
        </form>
            <h4 id="result"></h4>
        </div>
        {{>footer}}
    </body>
    <script src="/js/word-app.js"></script>
</html>