<header>
    <table>
        <tr>
            <td><img src="/image/weather.jpg" height="70"></td>
            <td><h1>Weather Forecast App</h1></td>
        </tr>
    </table>
     <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
